/* content */
#button_reset{
    /* position:absolute; */
    font-size:16px;
    padding:5px;
    /* top:50%; */
    /* right:5px; */
    /* transform:translate(-50%, -50%); */
    margin-top:10px;
    border-radius: 5px;
}

#container_news{
    display:flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    /* border:1px solid; */
}

.div_news{
    width:200px;
    min-height:150px;
    border:1px solid;
    margin:10px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    position:relative;
}

.div_news .trademark{
    position:relative;
    overflow: hidden;
    left:-1px;
    top:-1px;
    width:100%;
    height:100px;
    border:1px solid;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    border-radius: 5px 5px 0px 0px;
}

.div_news .trademark img{
    width:100%;
    max-height:100%;
    object-fit: contain;
    /* border:1px solid; */
}

.div_news .news_titles{
    /* border:1px solid; */
    text-align: center;
}

.div_news .news_titles h3{
    font-size:16px;
    /* border:1px solid; */
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    width:100%;
    height:28px;
    margin:2px;
    cursor:pointer;
}

/* stock_content */
#ul_stock_info ul{
    display:flex;
    list-style: none;
    gap:20px;
    padding:0px;
}

#ul_stock_info ul li{
    border:1px solid;
    border-radius: 5px;
    width: 100px;
    height:50px;
    text-align: center;
    cursor:pointer;
}

.block_stock_info{
    font-weight:700;
    margin:5px;
}

#div_stock_info{
    height:200px;
    border:1px solid;
}
