/* content */
.star{
    height:20px;
    cursor:pointer;
}

#yellow_star{
    height:23px;
    display:none;
}

#white_star{
    height:23px;
    display:none;
}

#button_list{
    width:100%;
    /* border:1px solid; */
    display:flex;
    /* justify-content: center; */
    align-items: center;
    position:relative;
}

#button_list button{
    font-size: 18px;
    height:30px;
    margin:5px;
    border-radius: 5px;
    border:1px solid;
}

#div_notification{
    font-size: 16px;
    margin:0px;
    position:absolute;
    right:0px;
    display:none;
}

#div_notification p{
    margin:0px;
    font-weight:700;
}

#price_notification{
    width:80px;
    height:25px;
    font-size:16px;
    border-radius: 5px;
}

#ul_stock_info ul{
    display:flex;
    list-style: none;
    gap:20px;
    padding:0px;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#ul_stock_info ul li{
    border:1px solid;
    border-radius: 5px;
    width: 160px;
    height:70px;
    text-align: center;
    cursor:pointer;
}

.block_stock_info{
    font-weight:700;
    margin:5px;
}

#div_stock_info{
    /* height:200px; */
    /* border:1px solid; */
    display:flex;
    justify-content: center;
}

#div_stock_info table{
    margin:10px;
    border:1px solid;
    text-align: center;
    font-size: 20px;
}
#div_stock_info tr{
    padding:5px;
    border:1px solid;
}
#div_stock_info th{
    padding:5px;
    border:1px solid;
}
#div_stock_info td{
    padding:5px;
    border:1px solid;
}



/* test */
#test{
    display:none;
}