/* content */
.star{
    height:20px;
    cursor:pointer;
}

#yellow_star{
    height:23px;
    display:none;
}

#white_star{
    height:23px;
    display:none;
}

#button_list{
    width:100%;
    /* border:1px solid; */
    display:flex;
    /* justify-content: center; */
    align-items: center;
    position:relative;
}

#button_list button{
    font-size: 18px;
    height:30px;
    margin:5px;
    border-radius: 5px;
    border:1px solid;
}

#div_notification{
    font-size: 16px;
    margin:0px;
    position:absolute;
    right:0px;
    display:none;
}

#div_notification p{
    margin:0px;
    font-weight:700;
}

#price_notification{
    width:80px;
    height:25px;
    font-size:16px;
    border-radius: 5px;
}

#ul_stock_info ul{
    display:flex;
    list-style: none;
    gap:20px;
    padding:0px;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#ul_stock_info ul li{
    border:1px solid;
    border-radius: 5px;
    width: 160px;
    height:70px;
    text-align: center;
    cursor:pointer;
}

.block_stock_info{
    font-weight:700;
    margin:5px;
}

#div_stock_info{
    /* height:200px; */
    /* border:1px solid; */
    display:flex;
    justify-content: center;
}

#div_stock_info table{
    margin:10px;
    border:1px solid;
    text-align: center;
    font-size: 20px;
}
#div_stock_info tr{
    padding:5px;
    border:1px solid;
}
#div_stock_info th{
    padding:5px;
    border:1px solid;
}
#div_stock_info td{
    padding:5px;
    border:1px solid;
}

#div_message_board{
    /* border:1px solid; */
    width:100%;
    margin-top:20px;
    margin-bottom:50px;
}

.div_board{
    /* border:1px solid; */
    width:100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.message_member_photo{
    width:40px;
    height:40px;
    border:1px solid;
    border-radius: 20px;
    margin:5px;
    background-repeat: no-repeat;
    background-size: cover;
}

#div_typing{
    margin-top:15px;
    width:90%;
    min-height: 20px;
    max-width: 600px;
    padding:0px;
    border-bottom:1px solid;
    font-size:16px;
}

#div_typing:empty:before{ 
    content: '分享您的看法'; 
    color: gray; 
} 

#div_typing:focus:before{
    content:none;
}

#div_message_button{
    /* border:1px solid;     */
    width:100%;
    height:30px;
    display:flex;
    justify-content: center;
}

#div_message_button_frame{
    /* border:1px solid; */
    max-width: 600px;
    width:90%;
    position:relative;
}

#ul_message_button{
    /* border:1px solid; */
    list-style-type:none;
    display:flex;
    gap:20px;
    position:absolute;
    top:-20px;
    right:0px;
    display:none; 
}

#ul_message_button button{
    padding:5px;
    font-size:16px;
    border-radius: 5px;
}

#div_post{
    /* border:1px solid; */
    width:100%;
    height:200px;
}

#div_message_column{
    display:flex;
    flex-wrap: wrap;
}

.div_post_message{
    width:90%;
    /* height:30px; */
    max-width: 600px;
    padding:0px;
    border-bottom:1px solid;
    font-size:16px;
}

.message_member_name{
    margin-top:5px;
}

.div_message{
    word-wrap: break-word;
}

.div_message_others{
    width:100%;
    /* border:1px solid; */
    height:20px;
    position:relative;
}

.div_message_time{
    /* border:1px solid; */
    position:absolute;
    right:5px;
}