<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, min-height=device-height"/>
        <title>stock</title>
        <link rel="stylesheet" href="{{url_for('static', filename='body.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='content.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='nav.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='loading.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='tradingview.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    </head>
    <body>
        <div id="loading_background">
            <div id="loading">
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
        </div>
        <div id="container_navigation">
            <div id="navigation">
                <div id="div_search">
                    <input id="input_search" type="text" placeholder="請輸入2330, 2454, 1101">
                    <button id="button_search">搜尋</button>
                </div>
                <ul>
                    <li>會員登入</li>
                </ul>
            </div>
        </div>
        <div id="container_content">
            <div id="div_stock_title">
                <h1><span id="stock_id">TAIEX</span> <span id="stock_name">台灣加權股票指數</span></h1>
                <button id="button_reset">reset</button>
            </div>
            <div id="container_chart"></div>
            <div id="container_news"></div>
        </div>
        <div id="container_footer">
            <h4>COPYRIGHT © stock_info</h4>
        </div>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <script type="module" src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>