<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, min-height=device-height"/>
        <title>stock</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/body.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/content.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/loading.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/frame_member.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/tradingview.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    </head>
    <body>
        <div id="frame_member">
            <div id="div_signOut_frame">
                <div id="div_title_member">
                    <h3>登入會員帳號</h3>
                    <img id="cross_frame_member" class="close_frame_member" src="{{url_for('static', filename='/icon/icon_close.png')}}">
                </div>
                <div id="div_input_member">
                    <input id="input_username" type="text" placeholder="請輸入使用者名稱">
                    <input id="input_email" type="text" placeholder="請輸入email">
                    <input id="input_password" type="password" placeholder="請輸入密碼">
                </div>
                <div id="div_button_member">
                    <div id="loading_button">
                        <div class="lds-circle"><div></div></div>
                    </div>
                    <button id="button_member">登入帳戶</button>
                </div>
                <div id="div_span_member">
                    <div id="div_sign_message">
                        <span id="span_member_signIn_message">還沒有帳戶? </span>
                        <span id="span_member_signUp_message">已經有帳戶了? </span>
                    </div>
                    <div id="div_success_error_message">
                        <span id="span_member_error_message">error message </span>
                        <span id="span_member_success_message">success message </span>
                    </div>
                    <span id="span_member_switch">點此註冊</span>
                </div>
            </div>
            <div id="div_signIn_frame">
                <div id="div_member_photo">
                    <img class="member_photo">
                </div>
                <div id="div_button">
                    <button id="button_member_page">會員頁面</button>
                    <button id="button_signOut">登出</button>
                </div>
            </div>
        </div>
        <div id="background_member" class="close_frame_member"></div>
        <div id="background_loading">
            <div id="loading">
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
        </div>
        <div id="container_navigation">
            <div id="navigation">
                <div id="div_search">
                    <input id="input_search" type="text" placeholder="請輸入股票代號">
                    <button id="button_search">搜尋</button>
                </div>
                <ul>
                    <li><img id="home_img" src="{{url_for('static', filename='/icon/home.png')}}"></li>
                    <li id="member_center">登入/註冊</li>
                    <li id="li_member_photo"><img class="member_photo" id="nav_member_photo"/></li>
                </ul>
            </div>
        </div>
        <div id="container_content">
            <div id="div_stock_title">
                <h1><span id="stock_id">TAIEX</span> <span id="stock_name">台灣加權股票指數</span></h1>
                <button id="button_reset">reset</button>
            </div>
            <div id="container_chart"></div>
            <div id="container_news"></div>
        </div>
        <div id="container_footer">
            <h4>COPYRIGHT © stock_info</h4>
        </div>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
    </body>
</html>