<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, min-height=device-height"/>
        <title>stock</title>
        <link rel="stylesheet" href="{{url_for('static', filename='body.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='content.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='nav.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='loading.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='frame_member.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='member.css')}}">
    </head>
    <body>
        <div id="frame_member">
            <div id="div_signOut_frame">
                <div id="div_title_member">
                    <h3>登入會員帳號</h3>
                    <img id="cross_frame_member" class="close_frame_member" src="{{url_for('static', filename='/icon/icon_close.png')}}">
                </div>
                <div id="div_input_member">
                    <input id="input_username" type="text" placeholder="請輸入使用者名稱">
                    <input id="input_email" type="text" placeholder="請輸入email">
                    <input id="input_password" type="text" placeholder="請輸入密碼">
                </div>
                <div id="div_button_member">
                    <button id="button_member">登入帳戶</button>
                </div>
                <div id="div_span_member">
                    <div id="div_sign_message">
                        <span id="span_member_signIn_message">還沒有帳戶? </span>
                        <span id="span_member_signUp_message">已經有帳戶了? </span>
                    </div>
                    <div id="div_success_error_message">
                        <span id="span_member_error_message">error message </span>
                        <span id="span_member_success_message">success message </span>
                    </div>
                    <span id="span_member_switch">點此註冊</span>
                </div>
            </div>
            <div id="div_signIn_frame">
                <div id="div_member_photo">
                    <img class="member_photo"/>
                </div>
                <div id="div_button">
                    <button id="button_member_page">會員頁面</button>
                    <button id="button_signOut">登出</button>
                </div>
            </div>
        </div>
        <div id="background_member" class="close_frame_member"></div>
        <div id="background_loading">
            <div id="loading">
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
        </div>
        <div id="container_navigation">
            <div id="navigation">
                <div id="div_search">
                    <input id="input_search" type="text" placeholder="請輸入2330, 2454, 1101">
                    <button id="button_search">搜尋</button>
                </div>
                <ul>
                    <li><img id="home_img" src="{{url_for('static', filename='/icon/home.png')}}"></li>
                    <li id="member_center">登入/註冊</li>
                    <li id="li_member_photo"><img class="member_photo" id="nav_member_photo"/></li>
                </ul>
            </div>
        </div>
        <div id="container_content">
            <div id="div_member_button">
                <ul>
                    <li><button>管理</button></li>
                    <li><button>會員</button></li>
                </ul>
            </div>
            <div id="frame_member_info">
                <div id="div_photo">
                    <img id="img_member_phto" class="member_photo"/>
                </div>
                <div id="div_member_info">
                    <div id="p_member_info">
                        <p>名稱：</p>
                        <p>Email：</p>
                        <p class="email_verification">Email驗證碼：</p>
                        <p>密碼：</p>
                    </div>
                    <div id="member_info">
                        <p id="member_username">test</p>
                        <p>
                            <span id="member_email">test</span>
                            <span><img id="verification_icon"></span>
                            <span id="pass_msg">已驗證</span>
                            <span id="fail_msg">未驗證</span>
                        </p>
                        <p id="member_password"><span id="span_password">******</span><img id="open_eye" class="eyes" src="/static/icon/eye.png"><img id="close_eye" class="eyes" src="/static/icon/closed_eye.png"></p>
                    </div>
                    <div id="input_member_info">
                        <ul>
                            <li><input id="input_username_renew" type="text" placeholder="請輸入名稱"></li>
                            <li><input id="input_email_renew" type="text" placeholder="請輸入email" readonly="true"><button id="change_email_button">變更信箱</button></li>
                            <li class="email_verification"><input id="input_email_verify" type="text" placeholder="請輸入email驗證碼"><button id="email_button">傳送驗證碼</button></li>
                            <li><input id="input_password_renew" type="text" placeholder="請輸入密碼"></li>
                        </ul>
                    </div>   
                </div>
                <div id="div_message">
                    <p id="p_resp_message">message</p>
                </div>
                <div id="div_switch_button">
                    <ul>
                        <li><button id="change_button">修改會員資訊</button></li>
                        <li><button class="li_renew_button" id="cancel_button">取消</button></li>
                        <li><button class="li_renew_button" id="submit_button">送出</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="container_footer">
            <h4>COPYRIGHT © stock_info</h4>
        </div>
        <script type="module" src="{{url_for('static', filename='member.js')}}"></script>
    </body>
</html>