<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, min-height=device-height"/>
        <title>stock</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/body.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/content.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/frame_member.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/loading.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/tradingview.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/stock.css')}}">
    </head>
    <body>
        <div id="frame_member">
            <div id="div_signOut_frame">
                <div id="div_title_member">
                    <h3>登入會員帳號</h3>
                    <img id="cross_frame_member" class="close_frame_member" src="{{url_for('static', filename='/icon/icon_close.png')}}">
                </div>
                <div id="div_input_member">
                    <input id="input_username" type="text" placeholder="請輸入使用者名稱">
                    <input id="input_email" type="text" placeholder="請輸入email">
                    <input id="input_password" type="password" placeholder="請輸入密碼">
                </div>
                <div id="div_button_member">
                    <div id="loading_button">
                        <div class="lds-circle"><div></div></div>
                    </div>
                    <button id="button_member">登入帳戶</button>
                </div>
                <div id="div_span_member">
                    <div id="div_sign_message">
                        <span id="span_member_signIn_message">還沒有帳戶? </span>
                        <span id="span_member_signUp_message">已經有帳戶了? </span>
                    </div>
                    <div id="div_success_error_message">
                        <span id="span_member_error_message">error message </span>
                        <span id="span_member_success_message">success message </span>
                    </div>
                    <span id="span_member_switch">點此註冊</span>
                </div>
            </div>
            <div id="div_signIn_frame">
                <div id="div_member_photo">
                    <img class="member_photo">
                </div>
                <div id="div_button">
                    <button id="button_member_page">會員頁面</button>
                    <button id="button_signOut">登出</button>
                </div>
            </div>
        </div>
        <div id="background_member" class="close_frame_member"></div>
        <div id="background_loading">
            <div id="loading">
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
        </div>
        <div id="container_navigation">
            <div id="navigation">
                <div id="div_search">
                    <input id="input_search" type="text" placeholder="請輸入股票代號">
                    <button id="button_search">搜尋</button>
                </div>
                <ul>
                    <li><img id="home_img" src="{{url_for('static', filename='/icon/home.png')}}"></li>
                    <li id="member_center">登入/註冊</li>
                    <li id="li_member_photo"><img class="member_photo" id="nav_member_photo"/></li>
                </ul>
            </div>
        </div>
        <div id="container_content">
            <div id="div_content">
                <div id="div_stock_title">
                    <h1>
                        <span id="stock_id">股票代號</span> 
                        <span id="stock_name">股票名稱</span>
                        <img class="star" id="white_star" src="/static/icon/white_star.png">
                        <img class="star" id="yellow_star" src="/static/icon/yellow_star.png">
                    </h1>
                </div>
                <div id="container_chart"></div>
                <div id="button_list">
                    <button id="button_crosshair">Magnet</button>
                    <button id="button_sma-10" class="button_sma">10日線</button>
                    <button id="button_sma-30" class="button_sma">月線</button>
                    <button id="button_sma-365" class="button_sma">年線</button>
                    <div id="div_notification">
                        <p>到價通知：<input id="price_notification" type="text" placeholder="請輸入股價" readonly="true"><button id="button_notification">送出</button></p>
                    </div>
                </div>
                <div id="stock_content">
                    <div id="ul_stock_info">
                        <ul>
                            <li class="li_block" id="li_PER">
                                <div class="block_stock_info">本益比</div>
                                <div id="block_PER" class="block">waiting...</div>
                            </li>
                            <li class="li_block" id="li_dividend-yield">
                                <div class="block_stock_info">現金殖利率(%)</div>
                                <div id="block_dividend-yield" class="block">waiting...</div>
                            </li>
                            <li class="li_block" id="li_PBR">
                                <div class="block_stock_info">股價淨值比</div>
                                <div id="block_PBR" class="block">waiting...</div>
                            </li>
                            <li class="li_block2" id="li_EPS">
                                <div class="block_stock_info">近4季EPS</div>
                                <div id="block_EPS" class="block">waiting...</div>
                            </li>
                            <li class="li_block2" id="li_ROE">
                                <div class="block_stock_info">ROE(%)</div>
                                <div id="block_ROE" class="block">waiting...</div>
                            </li>
                        </ul>
                    </div>
                    <div id="div_stock_info">
                    </div>
                </div>
                <div id="div_message_board">
                    <div class="div_board">
                        <div id="div_message_member_photo" class="message_member_photo"></div>
                        <div id="div_typing" placeholder="分享您的看法!" contenteditable="true"></div>
                    </div>
                    <div id="div_message_button">
                        <div id="div_message_button_frame">
                            <ul id="ul_message_button">
                                <li><button id="button_clear">清空</button></li>
                                <li><button id="button_message_cancel">取消</button></li>
                                <li><button id="button_message_submit">送出</button></li>
                            </ul>
                        </div>
                    </div>
                    <div id="div_message_column"></div>
                </div>
            </div>
        </div>
        <div id="container_footer">
            <h4>COPYRIGHT © stock_info</h4>
        </div>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>-->
        <script type="module" src="{{url_for('static', filename='js/stock.js')}}"></script>
    </body>
</html>